.wrapper {
  bottom: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.button {
  background-color: var(--color-neutral-grey);
  border-radius: 50%;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
  cursor: pointer;
  height: 3rem;
  width: 3rem;

  &.disabled {
    background-color: var(--color-neutral-light);
    cursor: not-allowed;
  }

  &.variant {
    background-color: var(--color-star-light);
  }
}
