/* This wrapper has flex styles for semantic purpose: to preserve the <hgroup> tag. */
.headline {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);

  .title {
    color: var(--color-headline);
  }

  .subtitle {
    padding: 0 16px;
  }

  &.center {
    align-items: center;
    text-align: center;
  }

  &.highlighted .title {
    background-color: var(--color-highlighted);
    padding: 5px 15px 5px 2.5px;
  }

  &.variant {
    .title,
    .subtitle {
      background-color: var(--color-highlighted-variant);
      color: var(--color-headline-variant);
    }
  }

}

@media (width >= 768px) {
  .headline.highlighted {
    width: 100%;

    .title {
      background-color: var(--color-highlighted);
      width: 1ch;
    }

    &.animate .title {
      animation: fill-background 1.5s ease forwards;
    }
  }
}

@keyframes fill-background {
  0% {
    width: 1ch;
  }

  100% {
    width: 10ch;
  }
}
