.hamburger {
  height: 48px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;

  .top {
    stroke-dasharray: 40 139;
  }

  .bottom {
    stroke-dasharray: 40 180;
  }

  &.active {
    .top {
      stroke-dashoffset: -98px;
    }

    .bottom {
      stroke-dashoffset: -138px;
    }
  }

  &.rotate.active {
    transform: rotate(45deg);
  }

  .line {
    fill: none;
    stroke: var(--color-icon-variant);
    stroke-linecap: round;
    stroke-width: 5.5;
    transition:
      stroke-dasharray 400ms,
      stroke-dashoffset 400ms;
  }
}
