.wrapper {
  background-color: var(--color-background-variant);
  color: var(--color-text-variant);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 48px 24px 96px;

  @media (width >= 768px) {
    padding: 48px 24px;
  }
}

.variant {
  background-color: var(--color-background);
  color: var(--color-text);
}
