.layout {
  background-color: var(--color-background);
  display: grid;
  grid-template-rows: 1fr auto;

  &.hero {
    grid-template-rows: 1fr;
  }
}

@media (width >= 1024px) {
  .layout {
    grid-template-rows: var(--header-height) 1fr auto;
  }
}
