.menu {
  background-color: var(--color-background-variant);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition:
    visibility 0s 0.25s,
    opacity 0.25s ease-in;
  visibility: hidden;
  z-index: 1;

  &.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.25s ease-in;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
  }

  /* This list has flex styles for semantic purpose: to preserve the <ul> tag. */
  .list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    height: 100%;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 48px 16px 80px;

    @media (width >= 768px) {
      justify-content: center;
      padding: 48px 24px;
    }

    .item {
      text-align: center;
    }
  }
}
