.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem;
}

.description {
  font-family: var(--font-mono);
  margin-top: 2rem;
  text-align: center;
}

@media all and (max-width: var(--desktop-width)) {
  .main {
    padding: 6rem;
  }
}
