.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 12rem);
  padding: 6rem;
}

.description {
  font-family: var(--font-mono);
  text-align: center;
  width: 100%;
}
