/* This list has flex styles for semantic purpose: to preserve the <li> tag. */
.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);

  &.divided {
    flex-flow: row wrap;

    .item {
      flex-basis: calc(50% - 8px);
      max-width: calc(50% - 8px);

      @media (width >= 768px) {
        flex-basis: calc(33.333% - 8px);
        max-width: calc(33.333% - 8px);
      }
    }
  }

  &.rounded {
    .item {
      border: 2px solid var(--color-border-variant);
      border-radius: 32px;
      flex-basis: auto;
      max-width: inherit;
      padding: 4px 12px;
    }
  }
}
