.list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  &.divided {
    flex-flow: row wrap;

    .item {
      flex-basis: 50%;
      max-width: 50%;

      @media all and (width >= 768px) {
        flex-basis: 33.333%;
        max-width: 33.333%;
      }
    }
  }
}
