.container {
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  justify-content: center;
  min-height: 100vh;
}

@media all and (width >= 1024px) {
  .container.two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
