.container {
  background-color: var(--color-background);
  color: var(--color-text);

  &.variant {
    background-color: var(--color-background-variant);
    color: var(--color-text-variant);
  }
}

.grid-wrapper {
  display: grid;
  gap: var(--gap-extra-large);
  margin: 0 auto;
  max-width: var(--breakpoint-width);
  min-height: 100vh;
  padding: 48px 24px 96px;
  width: 100%;

  &.full {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

@media (width >= 768px) {
  .grid-wrapper {
    padding: 64px 32px;
    place-items: center;

    &.full {
      place-items: center;
    }
  }
}

@media (width >= 1024px) {
  .grid-wrapper {
    min-height: calc(100vh - var(--header-height));
    padding: 64px 16px;
  }
}
