.item {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: 100%;
  padding: 2rem 1.5rem;
}

.number {
  align-self: start;

  @media (width >= 768px) {
    align-self: end;
  }
}
