.container {
  grid-template-rows: auto 1fr;

  .wrapper {
    align-items: center;
    place-self: flex-start center;
  }
}

@media (width >= 768px) {
  .container {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;

    .wrapper {
      align-items: center;
      justify-content: center;
      place-self: center flex-start;
      width: calc(var(--breakpoint-width) / 2);
    }
  }
}
