.home-container {
  grid-template-rows: auto 1fr;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-right: 1rem;
  }

  @media (width >= 1024px) {
    grid-template-columns: 1.5fr 1fr;
  }
}
