.container {
  grid-template-rows: auto 1fr;

  @media (width >= 768px) {
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }

  @media (width >= 1024px) {
    grid-template-columns: 1.5fr 1fr;
  }

  .wrapper {
    align-items: center;
    place-self: flex-start center;

    @media (width >= 768px) {
      align-items: flex-start;
      place-self: center;
    }

    @media (width >= 1024px) {
      align-items: flex-start;
      place-self: center flex-start;
    }
  }
}
