.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &.underline {
    border-bottom: var(--color-neutral-dark) 0.25rem solid;
    width: 400px;
  }
}

@media all and (width >= 1024px) {
  .wrapper.center {
    text-align: center;
  }
}
