.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    color: var(--color-headline);
  }

  .subtitle {
    padding: 0 5px;
  }

  &.big-titles {
    .title {
      font-size: 5.5rem;
      line-height: 4.75rem;

      @media all and (width >= 768px) {
        font-size: 6.5rem;
        line-height: 5.5rem;
      }

      @media all and (width >= 1024px) {
        font-size: 8.25rem;
        line-height: 7rem;
      }
    }

    .subtitle {
      @media all and (width >= 1024px) {
        font-size: 2rem;
      }
    }
  }

  &.center {
    align-items: center;
    text-align: center;
  }

  &.highlight {
    .title {
      background-color: var(--color-highlight);
      padding: 5px 15px 5px 2.5px;

      @media all and (width >= 768px) {
        padding: 5px 1ch 5px 0;
        width: fit-content;
      }
    }
  }

  &.variant {
    .title,
    .subtitle {
      background-color: var(--color-highlight-variant);
      color: var(--color-headline-variant);
    }
  }
}
