.menu {
  background-color: var(--color-neutral-dark);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition:
    visibility 0s 0.25s,
    opacity 0.25s ease-in;
  visibility: hidden;
  z-index: 1;

  &.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.25s ease-in;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
  }
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  justify-content: center;
  padding: 2rem 1rem;

  @media (height <= 750px) {
    justify-content: start;
  }

  @media (width >= 768px) {
    padding: 2rem 1rem;
  }
}

.item {
  text-align: center;
}
