.menu {
  background-color: var(--color-neutral-dark);
  inset: 0;
  opacity: 0;
  position: fixed;
  z-index: 1;

  &.show {
    animation: display-menu 0.25s ease-in forwards;
  }

  &.hide {
    animation: hide-menu 0.25s ease-in forwards;
  }

  &.variant {
    background-color: var(--color-neutral-light);
  }
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  padding: 5rem 1rem;
}

.item {
  text-align: center;
}

@keyframes display-menu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-menu {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
