.image {
  height: auto;
  width: 100%;
}

.mobile {
  display: block;
}

.desktop,
.tablet {
  display: none;
}

@media (width >= 768px) and (width <= 1023px) {
  .tablet {
    display: block;
  }

  .tablet + .desktop,
  .tablet + .mobile {
    display: none;
  }
}

@media all and (width >= 1024px) {
  .desktop {
    display: block;
  }

  .tablet,
  .mobile {
    display: none;
  }
}
