.navbar {
  background-color: var(--color-background);
  min-height: var(--header-height);
  width: 100%;

  &.transparent {
    background-color: transparent;
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  /* TODO: Change this to FlexWrapper */
  .list {
    align-items: center;
    display: flex;
    gap: var(--gap-large);
    justify-content: flex-end;
    margin: 0 auto;
    max-width: var(--breakpoint-width);
    padding: 12px 16px;
  }

  .item {
    color: var(--color-text);

    &::after {
      border-bottom: solid 1.5px var(--color-border);
      content: '';
      display: block;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 250ms ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .active {
    &::after {
      transform: scaleX(1);
    }
  }

  .text,
  .text:hover {
    color: var(--color-text);
  }

  &.variant {
    background-color: var(--color-background-variant);

    .item::after {
      border-color: var(--color-border-variant);
    }

    .text {
      color: var(--color-text-variant);
    }
  }
}
