a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}

a.variant {
  color: var(--color-link-variant);

  &:hover {
    color: var(--color-link-variant-hover);
  }
}

span {
  color: var(--color-text-small);
}

span.variant {
  color: var(--color-text-small-variant);
}

.black {
  color: var(--color-text);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 0;
}
