/* stylelint-disable */
#__next {
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral-dark);
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-hover);
  }
}

button {
  background-color: var(--color-star);
  color: var(--color-background);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
