a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }

  &.variant {
    color: var(--color-link-variant);

    &:hover {
      color: var(--color-link-variant-hover);
    }
  }
}

.black {
  color: var(--color-neutral-dark);
}
