.body {
  --font-headline: 'Limelight', arial, helvetica, sans-serif;
  --font-text: 'RobotoMono', arial, helvetica, sans-serif;
}

body {
  font-family: var(--font-text);
  font-size: 1rem; /* 1rem = 16px */
}

h1 {
  font-family: var(--font-headline);
  font-size: 5rem;
  letter-spacing: -0.25rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3,
p {
  font-size: 1rem;
}

h2,
h3,
em,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

.black {
  color: var(--color-neutral-dark);
}

.bold {
  font-weight: 700;
}

.number {
  font-size: 1.125rem;
}

@media all and (width >= 768px) {
  h1 {
    font-size: 5.75rem;
    letter-spacing: -0.25rem;
    line-height: 3.75rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3,
  p {
    font-size: 1.125rem;
  }

  .number {
    font-size: 1.25rem;
  }
}

@media all and (width >= 1024px) {
  h1 {
    font-size: 6.5rem;
    line-height: 4.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  .number {
    font-size: 1.5rem;
  }
}
