.body {
  --font-headline: 'Limelight', arial, helvetica, sans-serif;
  --font-number: arial, helvetica, sans-serif;
  --font-stack: 'RobotoMono', arial, helvetica, sans-serif;
}

body {
  font-family: var(--font-stack);
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
}

caption {
  font-size: 0.75rem; /* 12px */
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-headline);
  font-size: 2.25rem; /* 36px */
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.25rem; /* 20px */
}

h4 {
  font-size: 1.125rem; /* 18px */
}

h5 {
  font-size: 1rem; /* 16px */
}

h6 {
  font-size: 0.875rem; /* 14px */
}

.bold {
  font-weight: 700;
}

.number {
  font-family: var(--font-number);
}

@media all and (width >= 1024px) {
  body,
  button,
  p {
    font-size: 1rem; /* 16px */
  }

  h1 {
    font-size: 5.625rem; /* 90px */
  }

  h2 {
    font-size: 3.75rem; /* 60px */
  }

  h3 {
    font-size: 3rem; /* 48px */
  }

  h4 {
    font-size: 2.125rem; /* 34px */
  }

  h5 {
    font-size: 1.5rem; /* 24px */
  }

  h6 {
    font-size: 1.25rem; /* 20px */
  }
}
