.body {
  --font-headline: 'Limelight', arial, helvetica, sans-serif;
  --font-text: 'RobotoMono', arial, helvetica, sans-serif;
}

body {
  font-family: var(--font-text);
  font-size: 1rem; /* 1rem = 16px */
  hyphens: auto;
}

h1 {
  font-size: 4rem;
  line-height: 2.5rem;

  @media all and (width >= 768px) {
    font-size: 5.25rem;
    line-height: 4.25rem;
  }

  @media all and (width >= 1024px) {
    font-size: 6rem;
    line-height: 4.75rem;
  }

  &.bigger {
    font-size: 5.5rem;
    line-height: 4.75rem;

    @media all and (width >= 768px) {
      font-size: 6.5rem;
      line-height: 5.5rem;
    }

    @media all and (width >= 1024px) {
      font-size: 6rem;
      line-height: 4.75rem;
    }
  }
}

.big-text {
  font-size: 2.75rem;

  @media all and (width >= 1024px) {
    font-size: 3.25rem;
  }
}

h1,
.big-text {
  font-family: var(--font-headline);
  letter-spacing: -0.25rem;
}

h2,
.number {
  font-size: 1.5rem;

  @media all and (width >= 1024px) {
    font-size: 1.75rem;
  }

  &.bigger {
    @media all and (width >= 1024px) {
      font-size: 2rem;
    }
  }
}

h3,
p {
  font-size: 1.125rem;
}

h2,
h3,
em,
strong,
.bold {
  font-weight: 700;
}

em {
  font-style: italic;
}
