body {
  --breakpoint-width: 1400px;
  --border-radius: 8px; /* 8px */
  --box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 24px;
  --gap-extra-large: 42px;
  --header-height: 50px;
}
